input[type=text],[type=email],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 150x;
    background-color: #5390fe;
    color: white;
    padding: 12PX 20PX;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btnAddSkill{
    width: 115px;
    background-color: #45a049;
    color: white;
    padding: 12PX 20PX;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
}
.modal{
    top: 20%;
    left:30%;
}



.form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.gender{
    margin-right: 20px;
}
.modal-body{
    background:coral;
    height: 25rem;
    width: 40rem;
    margin: 8px 0;
    padding: 12PX 20PX;
    align-items: center;
}
// .ng-invalid.ng-touched
// { 
//     border: red 1px solid
// }
 


